body {
  margin-top: 180px;
  font-family: Arial, sans-serif;
  color: rgb(32, 1, 32);
  line-height: 1.5;
  font-size: 18 px;
}

.header {
  background-color: rgb(153, 143, 159);
  color: #fff; /* Text color for the header */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease; /* For smooth animation */
  z-index: 2;
}

.main-container {
  display: flex;
  justify-content: space-between;
}
.left-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 219, 224);
  padding: 20px;
}
.right-container {
  width: 60%;
  background-color: rgb(224, 219, 224);
  padding-left: 20px;
}

.right-block {
}

.footer {
  background-color: rgb(153, 143, 159);
  color: #fff;
  text-align: center;
  height: 70px;
  width: 100%;
  padding-top: 10px;
}

.left-section {
  height: 20%;
}

.flip-container {
  perspective: 1000px;
  width: 100%; /* Make sure the container takes up the full width */
  overflow: hidden; /* Hide any overflow */
  height: 80%;
}

.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(153, 143, 159);
}

.image {
  max-width: 100%; /* Limit the image width to the container's width */
  height: auto;
}

.text {
  font-size: 48px; /* Larger font size on hover */
  font-style: italic;
  color: rgb(224, 219, 224);
  font-family: "cursive-font", cursive;
  transition: font-size 0.3s, color 0.3s;
  padding: 20px;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container:hover .flipper .text {
  display: block;
}
