h1 {
  color: rgb(50, 3, 70);
  font-weight: bold;
}
h2 {
  font-style: bold;
}
h3 {
  font-style: italic;
}
body {
  font-size: 14;
  font-family: "Helvetica", sans-serif;
  margin: 10px;
  background-color: rgb(245, 235, 249);
}

.left-block {
  width: 70%;
  float: left;
}
.right-block {
  width: 30%;
  float: left;
}
